:root {
  --bg-url: url("/BG3LOWRES.jpg");                        /* set to url("./BG3LOWRES.jpg") to restore */
  --bg-color: #ffffff;                   /* body background fallback */
  --main-color: #9c9c9c;        /* change this one value to try different grays */
}